html {
    color: #222;
    font-size: 1em;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

#project_header {
    background-color: #102434;
    color: #ffffff;
    padding-left: 50px;
    padding-bottom: 15px;
}

#project_header_name {
    padding-top: 15px;
    font-family: "Times New Roman", Times, serif;
}

#hero {
    background-color: #b8e7ff;
    padding-left: 50px;
    padding-bottom: 50px;

}

#git_btn {
    display: block;
    height: 30px;
    width: 30px;
}

#div_btn1 {
    float: left;
}

#h1_hero {
    padding-top: 50px;
}

.myclass_btn {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 13px 20px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;

}

.myclass_img_btn {
    background-color: #008CBA;
    border: none;
    color: white;
    margin-right: 10px;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
}

.myarticle{}